<div class="col-md-4 col-sm-5 text-center">
  <h2>{{ this.title }}</h2>
  <p class="lead">{{ this.lead }}</p>
  {{ this.description }}
  <p class="cta-button">
    <a href="{{ this.href }}" target="_blank" class="btn btn-success btn-lg text-center">{{ this.button_label }}</a>
  </p>
</div>
