<div class='row text-center'>
  <h3>{{ this.title }}</h3>
</div>
<div class='row row-centered'>
  {% for sponsor in this.sponsors.blocks %}
  <div class='col-md-4 col-sm-4 col-centered col-top'>
    <a data-target="#modal-sponsor-{{ sponsor.id }}" data-toggle='modal' href='#'>
      {% set sponsor_logo = record.attachments.get(sponsor.logo) %}
      <img class="img-responsive img-sponsor img-sponsor-{{ this.rank }}" title="{{ sponsor.title }}" src="{{ sponsor_logo|url }}" alt="{{ sponsor.title }} logo" />
    </a>
  </div>
  <div class='modal fade' id='modal-sponsor-{{ sponsor.id }}'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button class='close' data-dismiss='modal'>
            <i class='fa fa-close'></i>
          </button>
          <h3 class='modal-title'>{{ sponsor.title }}</h3>
        </div>
        <div class='modal-body'>
          <p class='logo'>
            <a target="_blank" href="{{ sponsor.href }}"><img class="img-responsive center-block img-sponsor img-sponsor-{{ this.rank }}" src="{{ sponsor_logo|url }}" alt="{{ sponsor.title }} logo" />
            </a>
          </p>
          <div class="text-left">
            {{ sponsor.description }}
          </div>
        </div>
        <div class='modal-footer'>
          <a target="_blank" href="{{ sponsor.href }}">{{ sponsor.href }}</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
