<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/html'>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <title>{{ bag('event.short_title') }} &mdash; {% block title %}{% endblock %}</title>
  <meta content="{{ bag('event.embed.description') }}" name="description">
  <meta content="{{ bag('event.embed.author') }}" name="author">
  <meta content="{{ bag('event.title') }}" property="og:title">
  <meta content="{{ bag('event.short_title') }}" property="og:site_name">
  <link rel="icon" type="image/png" href="{{ '/static/favicon-32x32.png'|url }}">
  <link rel="stylesheet" href="{{ '/static/application.css'|url }}">
  <link href="{{ '/static/css/fontawesome.min.css'|url }}" rel="stylesheet">
  <link href="{{ '/static/css/brands.min.css'|url }}" rel="stylesheet">
  <link href="{{ '/static/css/solid.min.css'|url }}" rel="stylesheet">
  <script src="{{ '/static/application.js'|url }}"></script>
</head>

<body class="{{ bag('event.theme.body_class') }}">
  <div class='navbar navbar-default navbar-fixed-top nav-osem' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='#main-nav' data-toggle='collapse' type='button'>
          <span class='sr-only'>
            Toggle navigation
          </span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class="navbar-brand" title="{{ bag('event.title') }}" href="{{ '/'|url }}">LinuxFest Northwest</a>
      </div>
      <div class='collapse navbar-collapse' id='main-nav'>
        <ul class='nav navbar-nav' id='splash-nav'>
          {% for navitem in bag('navbar').items() %}
            <li class="nav-item">
              {% set label = bag('navbar', navitem[0], 'label') %}
              {% set href = bag('navbar', navitem[0], 'href') %}
              {% set smoothscroll = bag('navbar', navitem[0], 'smoothscroll') %}
              {% set target = bag('navbar', navitem[0], 'target') %}
              {% set external = bag('navbar', navitem[0], 'external') %}

              {% if external %}
              <a href="{{ href }}" {% if target %}target="{{ target }}"{% endif %}>{{ label }}</a>
              {% else %}
              <a class="{% if smoothscroll %}smoothscroll{% endif %}" href="{{ href|url }}" {% if target %}target="{{ target }}"{% endif %}>{{ label }}</a>
              {% endif %}

            </li>
          {% endfor %}
       </ul>
      </div>
    </div>
  </div>
  <div id='messages'>
    <div class='container'>
      <noscript>
        <style>
          #content {
            display: none;
          }
        </style>
        <h2>
          JavaScript is not enabled
        </h2>
        <p>
          This site requires JavaScript to be enabled to function. Please turn on JavaScript in your browser's settings and reload the page to continue.
        </p>
      </noscript>
    </div>
  </div>
  <div id="content">
    {% block content %}content{% endblock %}
  </div>
  <div id='footer'>
    <div class='container'>
      {% block baseline %}{% endblock %}
      <hr>
      <p class='muted text-center'>
        <small>
          <span>
            This site is
            <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a>,
            released under
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons</a>.
          </span>
          <span>
            You can run, copy, distribute, study, change and improve it.
          </span>
          <span>
            The source code and the developers are on
            <a href="https://gitlab.com/lfnw">Gitlab</a>.
          </span>
        </small>
      </p>
    </div>
  </div>

  {% block tail %}
  {% endblock %}
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://lfnw.innocraft.cloud/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='//cdn.innocraft.cloud/lfnw.innocraft.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://lfnw.innocraft.cloud/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
</body>
