{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
  <h1 class="text-center">{{ this.title }}</h1>
  {{ this.body }}
  {{ this.sections }}
  <section id="pre-footer"></section>
{% endblock %}
