{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% set logo = this.attachments.get('logo.svg') %}
{% set venue_logo = this.attachments.get('venue.png') %}
{% block content %}
<div id='splash'>
  <div id='banner'>
    <div class='container' id='header'>
      <div class='row'>
        <!-- <div class='col-md-2 hidden-xs hidden-sm'>
          <img class="img-responsive img-center" id="splash-logo" src="btc_blug_white.png" alt="BTC & BLUG" />
        </div> -->
        {% if logo %}
          <div class='col-12'>
            <h1 class='hidden-xs'>
              <img title="{{ logo.title }}" alt="{{ logo.alt }}" class="img-responsive center-block" src="{{ logo|url }}" />
            </h1>
          </div>
          {% endif %}
          <!-- TITLE SPONSOR BLOCK <div class='col-md-2 hidden-xs hidden-sm title-sponsor thumbnail text-center'>
          <a data-target='#modal-sponsor-96' data-toggle='modal' href='#'>
            <h4 class='caption'>Title Sponsor</h4>
            <img class="img-responsive img-sponsor" style="padding: 0 1em 1em 1em;" title="" src="" alt="" />
          </a>
        </div> -->
      </div>
      <div class='row'>
        <div class='col-12'>
          <h2 class='text-center'>
            <span class='date text-nowrap'>{{ bag('event.dates') }}</span>
            <span class='venue text-nowrap'>
              {% if bag('event.venue.url') %}
                <a href="{{ bag('event.venue.url') }}">{{ bag('event.venue.title') }}</a>
              {% else %}
                {{ bag('event.venue.title') }}
              {% endif %}
            </span>
          </h2>
        </div>
      </div>
      <!--TITLE SPONSOR BLOCK (MOBILE) <div class='row hidden-md hidden-lg title-sponsor thumbnail text-center'>
        <div class='col-xs-6 col-xs-offset-3'>
          <a data-target='#modal-sponsor-96' data-toggle='modal' href='#'>
            <h4 class='caption'>Title Sponsor</h4>
            <img class="img-responsive img-sponsor" title="" src="" alt="" />
          </a>
        </div>
      </div> -->
    </div>
  </div>

  <section id='about'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <h2>{{ bag('event.short_title') }}: ❝{{ bag('event.tagline') }}❞</h2>
          {{ this.about }}
          <p class="text-center">
            {{ this.calls_to_action }}
          </p>
        </div>
      </div>
    </div>
  </section>

  {% if this.call_section %}
  <section id="call">
    <div class='container'>
      <div class="row text-center">
        {% if this.calls_for_content.blocks|length == 1 %}
          <div class="col-md-4 col-sm-2 hidden-xs">&nbsp;</div>
        {% elif this.calls_for_content.blocks|length == 2 %}
          <div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>
        {% endif %}
        {{ this.calls_for_content }}
      </div>
    </div>
  </section>
  {% endif %}

  {% if this.program_section %}
  <section id='program'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h2 class='text-center'>
            Educational Program
          </h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          {{ this.embedded_speaker_wall }}
        </div>
      </div>
      {% if this.schedule_href %}
      <div class='row'>
        <div class='col-md-12 text-center'>
          <a class="btn btn-success btn-lg" href="{{ this.schedule_href }}">All Events</a>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  {% endif %}

  {% if this.venue_section %}
  <section id='venue'>
    <div id='map' style='height: 500px;'></div>
  </section>
  {% endif %}

  {% if this.sponsors_section %}
  <section id="sponsors">
    <div class="container">
      {{ this.sponsor_levels }}
    </div>
  </section>
  {% endif %}

  <section id='social-media'>
    {% if bag('social') %}
    <div class='container'>
      <div class='row'>
        <div class='col-md-12 text-center'>
          {% for channel in bag('social').items() %}
          <a href="{{ bag('social', channel[0], 'url') }}" target="_blank"><i
              class="fa {{ 'fa-brands' if bag('social', channel[0], 'brand') == 'true' }} fa-{{ bag('social', channel[0], 'icon') }} fa-4x"></i>
            {% endfor %}
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  </section>

  <div class='scroll-top-wrapper'>
    <a class="smoothscroll" href="#top"><i class='fa fa-2x fa-arrow-circle-up'></i>
    </a>
  </div>
  <script>
    $(function(){
      $(document).on( 'scroll', function(){
        if ($(window).scrollTop() > 100) {
          $('.scroll-top-wrapper').addClass('show');
        } else {
          $('.scroll-top-wrapper').removeClass('show');
        }
      });
    });
  </script>
</div>
{% endblock %}
{% if this.baseline_section %}
{% block baseline %}
  <hr>
  <div class='muted text-center'>
    {{ this.baseline_content }}
  </div>
{% endblock %}
{% endif %}
{% block tail %}
  {{ super() }}
  {% if this.venue_section %}
  <!-- Map script -->
  <script>
    // create a map in the "map" div, set the view to a given place and zoom
    var map = L.map('map', { scrollWheelZoom: false }).setView(
    [
    {{ bag('event.venue.latitude') }},
    {{ bag('event.venue.longitude') }}
    ], 11);
    // add an OpenStreetMap tile layer
    L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; \
      <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, \
      <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, \
      Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(map);
    // add a marker in the given location, attach some popup content to it
    // and open the popup
    L.marker([
    {{ bag('event.venue.latitude') }},
    {{ bag('event.venue.longitude') }}
    ]).addTo(map)
    .bindPopup("<img alt=\"{{ bag('event.venue.title') }}\" class=\"img-responsive pull-right\" src=\"{{ venue_logo|url }}\" />\n<h3>{{ bag('event.venue.title') }}<\/h3>\n<p>\n{{ bag('event.venue.address_1') }}\n<br>\n{{ bag('event.venue.address_2') }}\n<br>\n{{ bag('event.venue.address_3') }}\n<\/p>\n<p class=\'text-center clearfix\'><a href=\"{{ bag('event.venue.url')|url }}\">{{ bag('event.venue.url') }}<\/a><\/p>\n")
    .openPopup();
    // Turn scrollwheel on when user clicks
    map.on('focus', function(e) {
      map.scrollWheelZoom.enable();
    });
    // Turn scrollwheel off once the map isn't in the viewport anymore
    $('#map').waypoint({
      handler: function(direction) {
        map.scrollWheelZoom.disable();
        //alert('map');
      },
      offset: '90%'
    });
    $('#map').waypoint({
      handler: function(direction) {
        map.scrollWheelZoom.disable();
        //alert('map');
      },
      offset: '10%'
    });
  </script>
  <!-- end Map script -->
  {% endif %}
{% endblock %}
